# Backend
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/SAASMMFPPF
JWT_SECRET=change-this-secret
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin123
CORS_ORIGINS=http://localhost:5173
HUGGINGFACE_TOKEN=
HUGGINGFACE_API_URL=https://api-inference.huggingface.co/models/distilbert-base-uncased-finetuned-sst-2-english

# Frontend
VITE_API_URL=http://localhost:8000
VITE_TESSERACT_BASE_URL=/tesseract
VITE_TESSERACT_LANG_PATH=https://tessdata.projectnaptha.com/4.0.0
